body
{
	background-image: url('bgimg.jpg');
	background-size: cover;
}
.heading h1
{
	word-spacing: 20px;
 border: 3px rgb(221, 231, 104) dashed;
 display: inline;
 padding: 10px 20px 10px 25px;
}
.heading
{
	color: rgb(217, 80, 84);
	padding: 5px;
	margin-left: 580px;
	margin-top: 100px;
	font-size: 20px;
  word-spacing: 15px
	font-family: 'Girassol', cursive;
}
.content li a
{
	color: rgb(218, 230, 98);
	text-decoration: none;

}
